@import './fonts/style.css';
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: Istok;
}

html, body, .approot {
	width: 100%;
}

.page {
	width: 1000px;
	margin: 0 auto;
	padding: 20px;
}

a:link {
	text-decoration: none;
	color: #555;
} /* не посещенная ссылка */
a:visited {
	text-decoration: none;
	color: #555;
} /* посещенная ссылка */
a:hover {
	text-decoration: none;
	color: #000;
} /* ссылка при наведении на нее мышкой */
a:active {
	text-decoration: none;
	color: #555;
} /* нажатая ссылка */
